<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css}"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="../static/css/dashboard.css"
      th:href="@{/css/dashboard.css}"
    />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
      th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css}"
    />
  </head>
  <body>
    <header
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
        >Olivia - Web Admin</a
      >
      <button
        class="navbar-toggler position-absolute d-md-none collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" th:href="@{/j_spring_security_logout}">Logout</a>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="position-sticky pt-3">
            <ul class="nav flex-column sider-list">
              <li class="sider-item">
                <a class="nav-link" th:href="@{/admin/home}">
                  <i class="fas fa-user-friends nav-icon"></i>
                  Customers
                </a>
              </li>
              <li class="sider-item">
                <a class="nav-link">
                  <i class="far fa-file nav-icon"></i>
                  Orders
                </a>
              </li>
              <li class="sider-item active">
                <a class="nav-link" th:href="@{/admin/products}">
                  <i class="fas fa-shopping-cart nav-icon"></i>
                  Products
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="col-lg-10 d-md-block">
          <div class="table-responsive table-content">
            <table class="table table-bordered active">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" style="text-align: center">Ảnh</th>
                  <th scope="col" style="text-align: center">Tên sản phẩm</th>
                  <th scope="col" style="text-align: center">Giá</th>
                  <th scope="col" style="text-align: center">Số lượng</th>
                  <th style="text-align: center"><a class="btn btn-primary" th:href="@{/admin/pageaddProduct}">Thêm</a></th>
                </tr>
              </thead>
              <tbody>
              <div th:each="p:${products}">
                <tr>
                  <td rowspan="2" class="fitwidth">
                    <img th:src="@{${p.mainPicPath}}" style="width: 150px; height: 150px">
                  </td>
                  <td th:text="${p.productName}"></td>
                  <td th:text="${p.productDescription}"></td>
                  <td th:text="${p.productPrice}"></td>
                  <td th:text="${p.quantity}"></td>
                  <td>&ensp;</td>
                </tr>
                <tr>
                  <td><a href="#" class="btn btn-outline-primary">Chỉnh sửa</a></td>
                  <td><a href="#" class="btn btn-outline-primary">Chỉnh sửa</a></td>
                  <td><a href="#" class="btn btn-outline-primary">Chỉnh sửa</a></td>
                  <td><a href="#" class="btn btn-outline-primary">Chỉnh sửa</a>></td>
                  <td class="fitwidth">
                    <a th:href="@{'/admin/deleteProduct/' + ${p.productId}}" methods="post" class="btn btn-danger">Xóa</a>
                  </td>
                </tr>
              </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!--  <script type="text/javascript" src="../static/js/dashboard.js" th:src="@{/js/dashboard.js}"></script>-->
</html>
