<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- include head.html -->
    <title>Fashion Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <!-- include styles.html -->
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
            th:href="@{https://use.fontawesome.com/releases/v5.8.2/css/all.css}"
            integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}"
    />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"
          th:href="@{https://unpkg.com/swiper/swiper-bundle.css}"/>
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
            th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"
    />

    <!-- build:css(.tmp) style/style.min.css -->
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/main.css"
          th:href="@{/css/main.css}"/>

    <!-- endbuild -->
</head>

<body class="wrapper">
<header class="main_header">
    <div class="container_header">
        <ul class="nav_list" id="nav_active">
            <li class="nav_list_item"> <a a th:href="@{/}" class="nav_list_item--link"> Trang chủ </a> </li>
            <li class="nav_list_item"><a href="#"  class="nav_list_item--link"> Giới thiệu </a> </li>
            <li class="nav_list_item active"> <a th:href="@{/products/all}" class="nav_list_item--link"> Sản phẩm </a> </li>
        </ul>
        <ul class="nav_list_right" sec:authorize="isAnonymous()">
            <li class="nav_list_right_item active"> <a th:href="@{/login_page}" class="nav_list_right_item--link"> Đăng nhập </a> </li>
            <li class="nav_list_right_item"><a th:href="@{/register_page}"  class="nav_list_right_item--link"> Đăng kí </a> </li>
        </ul>
        <ul class="nav_list_right" sec:authorize="isAuthenticated()">
            <li class="nav_list_right_item active">
                <a th:href="@{/profilePage}" class="nav_list_right_item--link">
                    <span sec:authentication="name"></span>
                </a>
            </li>
            <li class="nav_list_right_item"> <a th:href="@{/j_spring_security_logout}" class="nav_list_right_item--link"> Đăng xuất </a> </li>
        </ul>
    </div>
</header>

    <section class="wrapper_a">
        <div class="containers">
            <div class="logo">
                <img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="">
            </div>
            <div class="box_center">
                <ul class="trending_list" id="trend_active">
                    <li class="trending_list_item active2"><a href="#" class="trending_list_item--link"> Xu hướng tìm
                        kiếm</a>
                    </li>
                    <li class="trending_list_item"><a href="#" class="trending_list_item--link"> Hodie </a></li>
                    <li class="trending_list_item"><a href="#" class="trending_list_item--link">Áo khoác jean</a></li>
                    <li class="trending_list_item"><a href="#" class="trending_list_item--link"> Áo thun </a></li>
                </ul>
                <div class="comboBox">
                    <div class="search_form">
                        <input id="input_search" type="text" placeholder="Tìm kiếm...">
                        <button class="btn btn_search">
                            <img src="../static/images/icons/loupe.png" th:src="@{/images/icons/loupe.png}" alt="">
                        </button>
                    </div>
                    <div class="buy">
                        <a href="#" class="control_buy">
                            <img src="../static/images/icons/buy.png"  th:src="@{/images/icons/buy.png}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wrapper_profile">
        <div class="containers">
            
            <div class="box_left">
                <div class="thumb">
<!--                    <img src="https://scontent.fdad1-2.fna.fbcdn.net/v/t1.6435-9/135595082_2754230398132098_1378096824955109440_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=o7OFL3mDhYUAX9KR_c9&_nc_ht=scontent.fdad1-2.fna&oh=fdcb5d918b40b022c0a3d8a7adb85e46&oe=61B5E0A1"-->
<!--                        alt="">-->
                </div>
                <div class="avatar_control">
                    <button id="changeAvatar"> <span> Thay đổi ảnh đại diện </span></button>
                </div>
            </div>
           
            <div class="box_right">
               
                <div class="detail_profile">
                    <ul class="list_about_you">
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Tên: </p>    
                            <p> <span th:text="${user.fullName}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Tên đăng nhập: </p>    
                            <p> <span th:text="${user.getUsername()}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Giới tính: </p>    
                            <p> <span th:text="${user.getSex()}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Ngày Sinh: </p>    
                            <p> <span th:text="${user.getBithday()}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Điện thoại: </p>    
                            <p> <span th:text="${user.getPhoneNumber()}"/> </p>
                        </li>
                        <li class="list_about_you_item">
                            <p class="first_child"> Địa chỉ: </p>
                            <p> <span th:text="${user.address}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Email: </p>    
                            <p> <span th:text="${user.getEmail()}"/> </p>
                        </li>
                        <li class="list_about_you_item"> 
                            <p class="first_child"> Liên kết tài khoản: </p>    
                            <ul class="list_connect">
                                <li class="list_connect_item">  
                                    <a href="#" class="list_connect_item--link"> <img src="../static/images/icons/facebook-logo.png" th:src="@{/images/icons/facebook-logo.png}" alt=""></a>
                                </li>
                                <li class="list_connect_item">  
                                    <a href="#" class="list_connect_item--link"> <img src="../static/images/icons/instagram.png" th:src="@{/images/icons/instagram.png}"alt=""></a>
                                </li>
                                <li class="list_connect_item">  
                                    <a href="#" class="list_connect_item--link"> <img src="../static/images/icons/twitter.png" th:src="@{/images/icons/twitter.png}"lt=""></a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <button class="btn" id="btn_edit" type="button"> <span> Chỉnh sửa hồ sơ </span> </button>
                <button class="btn" id="btn_changePassword" type="button"> <span> Đổi mật khẩu </span> </button>
            </div>
       

        </div>
    </section>

    <section class="wrapper_f">
        <div class="containers">
          <div class="wrapper_f_grid">
            <div class="wrapper_f_grid_item">
              <div class="wrapper_f_grid_item_content">
                <div class="logo_footer">
                    <div class="logo"></div>
                </div>
                <ul class="contact_list">
                  <li class="contact_list_item"> 
                    <div class="contact_logo_icon "></div>
                    <p> 65 Triệu Quốc Đạt - Hòa Thọ Đông - <br>
                      Cẩm Lệ - Đà Nẵng </p>
                  </li>
                  <li class="contact_list_item"> 
                    <div class="contact_logo_icon icon2"></div>
                    <p> 0869 90 60 70 </p>
                  </li>
                  <li class="contact_list_item"> 
                    <div class="contact_logo_icon icon3"></div>
                    <p> oliviashop@gmail.com </p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="wrapper_f_grid_item">
              <div class="wrapper_f_grid_item_content">
                <div class="heading">
                    <h4> giới thiệu </h4>
                </div>
                <ul class="contact_list">
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Về chúng tôi </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Dịch vụ ưu đãi </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Thông tin sản phẩm </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Đội ngũ  nhân viên </p> </a> 
                  </li>
                </ul>
              </div>
            </div>
            <div class="wrapper_f_grid_item">
              <div class="wrapper_f_grid_item_content">
                <div class="heading">
                    <h4> chính sách </h4>
                </div>
                <ul class="contact_list">
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p>Quyền riêng tư</p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Sử dụng dịch vụ </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Góp ý-khiếu nại </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Nội dung trang web </p> </a> 
                  </li>
                </ul>
              </div>
            </div>
            <div class="wrapper_f_grid_item">
              <div class="wrapper_f_grid_item_content">
                <div class="heading">
                    <h4> hỗ trợ </h4>
                </div>
                <ul class="contact_list">
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Đặt hàng Online </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Đổi trả sản phẩm </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Thanh toán Online </p> </a> 
                  </li>
                  <li class="contact_list_item"> 
                    <a href="#" class="contact_list_item--link"> <p> Bảo hành sản phẩm </p> </a> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
<footer class="main_footer">
        <div class="wrapper_footer">
                <span>© Copyright  2021 </span>
                <p>Website được phát triển bởi <span style="color:#548ffd";> VinhTN </span> </p>
        </div>
</footer>

    <!-- include scripts.html -->
    <!-- boostrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js}"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
    ></script>
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.js"
            th:src="@{https://unpkg.com/swiper/swiper-bundle.js}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"
            th:src="@{https://unpkg.com/swiper/swiper-bundle.min.js}"></script>

    <!-- build:js script/script.min.js -->
    <script type="text/javascript" src="../static/js/slick.js"
            th:src="@{/js/slick.js}"></script>
    <script type="text/javascript" src="../static/js/script.js"
            th:src="@{/js/script.js}"></script>
    <!-- endbuild -->
</body>
</html>
